/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Felipa&display=swap');

/* VARIABLES */
:root {
   --color-main: rgb(0, 82, 204);
   --dim-header-height: 60px;
   --radius-sm: 0.25rem;
}

/* GLOBAL STYLES */
html,
body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   color: rgb(20 20 20);
   font: 400 15px/1.5 'Roboto', 'Montserrat';
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

ol,
ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

button,
input,
textarea,
select {
   outline: none;
   padding: 0.5rem 0.75rem;
   font-family: 'Roboto', 'Montserrat';
   font-size: 1rem;
   border-radius: 0.25rem;
   border: 1px solid rgb(206 212 218);
}

button:focus,
input:focus,
textarea:focus,
select:focus {
   border-color: rgb(14, 96, 219);
   box-shadow: 0 0 0 0.25rem rgba(0 82 204 / 0.2);
}

.container {
   padding-left: 1rem;
   padding-right: 1rem;
   max-width: 700px;
}

.flex-row {
   display: flex;
   flex-direction: row;
}

.flex-column {
   display: flex;
   flex-direction: column;
}

.flex-grow-0 {flex-grow: 0;}
.flex-grow-1 {flex-grow: 1;}
.flex-shrink-0 {flex-shrink: 0;}
.flex-shrink-1 {flex-shrink: 1;}

.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }

.align-center { align-items: center; }
.align-start { align-items: flex-start; }
.align-end { align-items: flex-end; }

.margin-0 {margin: 0;}
.padding-0 {padding: 0;}
.width-100 { width: 100%; }
.height-100 { height: 100%; }
p {margin: 0;}

button,
input[type="submit"] {
   cursor: pointer;
}

.btn-cta {
   --color: rgb(14, 96, 219);
   background-color:var(--color);
   border-color: var(--color);
   color: rgb(255 255 255);
}

.btn-back,
.btn-floating {
   width: var(--size);
   height: var(--size);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
}

.btn-back {
   --size: 40px;
   color: rgb(255 255 255);
   margin-left: -0.85rem;
}

.btn-back i {
   font-size: 1.2rem;
}

.btn-floating {
   --size: 50px;
   position: fixed;
   right: 1rem;
   bottom: 1rem;   
   box-shadow: 0 4px 6px rgba(0 0 0 / 0.4);
}

.btn-transparent {
   background-color: transparent;
   border-color: transparent;
}

input[type="checkbox"] {
   margin: 0;
}

nav button {
   padding: 0;
   color: rgb(255 255 255);
   font-size: 0.9rem;
}

.fa-solid, .fas,
.fa-regular, .far,
.fa-brand, .fab,
.fa-light,
.fa-thin,
.fa-duotone {
   font-size: 1rem;
}

.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-uppercase {text-transform: uppercase;}
.text-lowercase {text-transform: lowercase;}
.text-capitalize {text-transform: capitalize;}

.display-block {display: block;}
.display-inline {display: inline;}
.display-inline-block {display: inline-block;}

.form-field {
   margin-bottom: 1rem;
}

.form-field label,
.form-field .label {
   margin-bottom: 0.25rem;
   color: rgb(99 99 99);
   font-size: 14px;
   display: block;
}

h1, h2, h3, h4, h5, h6 {
   font-weight: 500;
}

.logo {
   font-family: 'Felipa', cursive;
   font-size: 20px;
}


/* POPUP */
.popup {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 999;

   /* HIDE IT */
   overflow: hidden;
   transform: scale(0);
   transition: all 0.2s ease-in-out;
}

.popup.show {
   overflow: visible;
   transform: scale(1);
}

.popup-shadow {
   width: 100%;
   height: 100%;
   background-color: rgba(0 0 0 / 0.4);

   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1rem;
}

.popup-content {
   width: 100%;
   background-color: rgb(255 255 255);
   border-radius: 0.25rem;
}

.popup-header,
.popup-footer {
   padding: 1rem;
}

.popup-body {
   padding: 0.5rem 1rem;
}

.popup-header {
   font-weight: 500;
   font-size: 1.1rem;
}

.popup-footer {
   display: flex;
   justify-content: flex-end;
   gap: 1rem;
}

[class *="btn-popup"] {
   padding: 0;
   display: inline-block;
   background-color: transparent;
   text-transform: uppercase;
   font-size: 0.9rem;
   border: 0;
}

.btn-popup-cta {
   color: var(--color-main);
}


/* HEADER */
#header {
   min-height: var(--dim-header-height);
   color: rgb(255 255 255); 
   background-color: var(--color-main);
}

.header a {
   color: rgb(255 255 255);
}

.header > .container > div {
   min-height: var(--dim-header-height);
}


/* MAIN CONTENT */
#main-content {
   padding-top: 2rem;
   padding-bottom: 2rem;
}

   
/* TODO-LIST */
.todo-list {
   margin-left: -1rem;
   margin-right: -1rem;
}

.todo-item {
   padding: 1rem;
   border: 1px solid transparent;
   border-radius: var(--radius-sm);
   gap: 1rem;
}

.todo-item:not(:last-child) {
   border-bottom-color: rgb(212 212 212);
}

.todo-item input[type="checkbox"] {
   width: 1rem;
   height: 1rem;
}

.todo-item .content p {
   max-width: 55ch;
}

.check,
.todo-options {
   padding-top: 0.2rem;
}

.todo-item .todo-options {
   position: relative;
}

.todo-item .option-list {
   position: absolute;
   top: 0;
   right: 0;
   width: max-content;
   background-color: rgb(255 255 255);
   border-radius: 0.25rem;
   box-shadow: 0 4px 6px rgba(0 0 0 / 0.2);
   z-index: 10;

   /* HIDE OPTIONS */
   height: 0;
   overflow: hidden;
   transition: all 0.2s ease-in-out;
}

.todo-item .option-list.show {
   height: auto;
   overflow: visible;
}

.todo-item .option-item {
   gap: 1rem;
   padding: 0.75rem 1.5rem 0.75rem 1rem;
   color: inherit;
}

.todo-item .option-item .icon {
   color: var(--color-main);
}

.todo-item [role="toggle-options"] {
   --size: 40px;
   width: var(--size);
   height: var(--size);
   border-radius: 50%;
   margin-right: -1rem;
}


/* TODO GROUPS */
.todo-groups {
   padding-bottom: 5rem;
}

.group-item {
   gap: 1rem;
   margin-bottom: 2rem;
   color: inherit;
}

/* .group-item:hover {
   background-color: rgba(0 0 0 / 0.1);
} */

.group-item .icon {
   color: var(--color-main);
}

.group-item .items-count {
   color: rgb(99 99 99);
}

.group-active {
   margin-top: 0;
}

.btn-new-list {
   position: fixed;
   left: 0;
   bottom: 0;
   right: 0;
   padding: 1rem;
   width: 100%;
   color: var(--color-main);
   background-color: rgb(246 249 255);
   z-index: 5;
}

.btn-new-list .content {
   margin-left: -1rem;
   gap: 1rem;
}

.btn-new-list i {
   font-size: 1.4rem;
}


/* LOGIN/REGISTER */
.login-main,
.register-main {
   padding-top: 5rem;
}

.login-main .page-title,
.register-main .page-title {
   margin: 1.5rem 0 2.5rem;
   gap: 0.65rem;
}

.login-icon i,
.register-icon i {
   font-size: 65px;
   color: rgba(0 82 204 / 0.2);
}

.login-title,
.register-title {
   margin: 0;
}

.register-main .form-field {
   display: grid;
   grid-template-columns: 1fr 2fr;
   align-items: flex-start;
}

.register-main label {
   margin: 0;
}


/* MEDIA QUERIES */
@media only screen and (min-width: 500px) {
   .container {
      padding: 0;
      width: 80%;
      margin: 0 auto;
   }

   .popup-content {
      width: fit-content;
      min-width: 400px;
   }

   .todo-item {
      gap: 2rem;
   }
   
}